// $black: #666;
// $white: #f0e6ef;
// $primary: #bce784;
// $secondary: #5dd39e;
// $tercerary: #348aa7;
// $fourth: #525174;
// $red: #e87461;

$black: #666;
$white: #f0e6ef;
$primary: #537A5A;
$secondary: #9AE19D;
$tercerary: #909590;
$fourth: #474A48;
$fifth: #2C302E;
$sixth: #513b56;
$seventh: #69A197;
$red: #e87461;
