table {
  width: 90%;
  margin: 0 auto;
  thead tr{
    background: $secondary;
    font-size: 170%;
    height: 50px;
  }
  tbody tr {
    height: 50px;
    text-align: center;
  }
  td:nth-child(2) {
    width: 600px;
  }
  td {
    padding-top: .8%;
  }
  tr:nth-child(2n+2) {
    background: $primary;
  }
}
