extends ./../layout

block content
  h2 title
  form(action="/"+username+"/charts/"+chart._id, method="post")
    lable
      input(type="text", name="topic" value=(chart ? chart.topic : ''))
    input#private(type='checkbox' name='private' checked=(chart ? (chart.private ? 'checked' : undefined) : undefined)) 
    label(for="private")
      span
      | Private
    h4 what I know
    #markdown
      textarea(name='know')= chart.know
      .preview(display="none")
      input.mark.edit(type='button' value='preview')
    h4 what I want to know
    #markdown
      textarea(name='want')= chart.want
      .preview(display="none")
      input.mark.edit(type='button' value='preview')
    h4 what I learned
    #markdown
      textarea(name='learned')= chart.learned
      .preview(display="none")
      input.mark.edit(type='button' value='preview')
    h4 how I learned it
    #markdown
      textarea(name='how')= chart.how
      .preview(display="none")
      input.mark.edit(type='button' value='preview')
    input.edit(type="submit", value="Save")
    input.delete.delete-chart(type='submit' value='Delete')
  a.button.show(href="/"+ username) back
