extends ./../layout

block content
  h2=title
  table
    thead
      tr
        th Title 
        th Author

    tbody
      each chart in charts
        if !chart.private
          tr
            td
              a.title(href='/'+ chart.username +'/'+chart._id) !{chart.topic}
            td= chart.username
