extends ../layout

block content
  form.form-inline(action="/charts", method="post")
    lable
      h3 title
      input.form-control(type="text", name="topic")
      .block
      .checkbox
        label
          input(type='checkbox' name='private') 
          |Make Chart Private
    .tablerow
      .img-rounded.knowNew.column
        .title
          h2 what I know
        .textarea
          textarea(data-provide='markdown' name='know')
      .img-rounded.whatNew.column
        .title
          h2 what I want to know
        .textarea
          textarea(data-provide='markdown' name='want')
    .tablerow2
      .img-rounded.learnNew.column
        .title
          h2 what I learned
      .img-rounded.howNew.column
        .title
          h2 how I learned it
    input.button.btn.btn-warning(type="submit", value="create")
  a.button.btn.btn-info(href="/" + username) back
