extends ../layout

block content
  h2 title
  form(action="/"+username+"/charts", method="post")
    lable
      input(type="text", name="topic")
    input(type='checkbox' id='private' name='private') 
    label(for='private')
      span
      | Private
    h4 what I know
    #markdown
      textarea(name='know')
      .preview(display="none")
      input.mark.edit(type='button' value='preview')
    h4 what I want to know
    #markdown
      textarea(name='want')
      .preview(display="none")
      input.mark.edit(type='button' value='preview')
    input.submit(type="submit", value="create")
  a.button.show(href="/" + username) back
