extends ../layout

block content
  h3 title
  form.form-inline(action="/charts", method="post")
    .toprow
      .title
      lable
        input.form-control.margin_right(type="text", name="topic")
      .checkbox
        label.inline_block
          input.box(type='checkbox' name='private') 
          | Private
    .tablerow
      .img-rounded.knowNew.column
        .title
          h2 what I know
        .textarea
          textarea(data-provide='markdown' name='know')
      .img-rounded.whatNew.column
        .title
          h2 what I want to know
        .textarea
          textarea(data-provide='markdown' name='want')
    input.button.btn.btn-warning(type="submit", value="create")
  a.button.btn.btn-info(href="/" + username) back
