extends ../layout

block content
  h2 title
  form(action="/"+username+"/charts", method="post")
    lable
      input(type="text", name="topic")
    input(type='checkbox' id='private' name='private') 
    label(for='private')
      span
      | Private
    h4 what I know
    textarea(name='know')
    h4 what I want to know
    textarea(name='want')
    input.edit(type="submit", value="create")
  a.button.show(href="/" + username) back
