extends layout

block content
  form.form-inline(action="/login", method="post")
    label 
      h3 email
      input.form-control(type='text' name='email')
    label 
      h3 password
      input.form-control(type='password' name='password')
    input.btn.btn-default(type='submit' value='log in')  
