extends layout

block content
  .gitlogin
    |Login with Github
    img.gitlogo(src="http://www.andrewhay.ca/wp-content/uploads/2014/08/github-8-xxl.png", alt="github cat", width="43px", height="43px")
  p
    a.btn.btn-primary(href="/auth/github") Login
  h4 or
  form.form-inline(action="/login", method="post")
    label 
      h3 email
      input.form-control(type='text' name='email')
    label 
      h3 password
      input.form-control(type='password' name='password')
    input.btn.btn-default(type='submit' value='log in')
      
