doctype html
html
  head
    title KWL(H)
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/javascripts/markdown.js', type='text/javascript')
    script(src='/javascripts/bootstrap-markdown.js', type='text/javascript')
    script(src='/javascripts/client.js', type='text/javascript')
  body
    .header
      nav
        a(href="/")
          |know-want-learn (how)
        if username
          a.show.nav(href="/logout") logout
          if !user
            a.show.nav(href="/"+username+"/edit") !{username}
          else
            .nav
              !{user.displayName}
          a.show.nav(href="/" + username) my charts
        else
          a.show.nav(href="/login") login
          a.show.nav(href="/signup") signup
    .subbanner
    main
      block content
      #footer
