doctype html
html
  head
    title KWL(H)
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/javascripts/markdown.js', type='text/javascript')
    script(src='/javascripts/bootstrap-markdown.js', type='text/javascript')
    script(src='/javascripts/client.js', type='text/javascript')
  body
    .header
      a(href="/")
        |know-want-learn (how)
      .nav
        nav
          if username
            a.show.nav(href="/" + username) my charts
            a.show.nav(href="/logout") logout
            if !user
              a.show.nav(href="/"+username+"/edit") edit profile
            if user
              .name
                | Hello !{user.displayName}
            else
              .name
                | Hello !{username}
          else
            a.show.nav(href="/login") login
            a.show.nav(href="/signup") signup
    .subbanner
    main
      block content
