extends layout

block content
  h2 login
  .errors
    if errors
      for error in errors
        p.error
          =error
  .login
    .email
      form(action="/login", method="post")
        label 
          | email
        input(type='email' name='email' value=(email ? email : undefined))
        label 
          | password
        input(type='password' name='password')
        input.show(type='submit' value='login')
    .github
      h4 or
      .text
        p
          img(src="http://www.andrewhay.ca/wp-content/uploads/2014/08/github-8-xxl.png", alt="github cat", width="43px", height="43px")
        span Login with Github
      p
        a.button.show(href="/auth/github") login

  
      
