extends layout

block content
  h2 signup
  .errors
    if errors
      for error in errors
        p.error
          =error
  form(action="/signup", method="post")
    .signup
      .col1
        label 
          |name
          input(type='text' name='name' value=(signUpName ? signUpName : undefined))
        label 
          |email
          input(type='email' name='email' value=(email ? email : undefined))
        label 
          |username
          input(type='text' name='username' value=(username ? username : undefined))  
      .col2
        .confirmation
        label
          |password
          input.password(type='password' name='password')
        label
          |confirm password
          input.confirm(type='password' name='confirmation')
      input.show(type='submit' value='sign up')
      
