extends layout

block content
  h1= title
  .errors
    if errors
      for error in errors
        p.error
          =error
  form.form-inline(action="/signup", method="post")
    .signup
      .col1
        label 
          h3 name
          input(type='text' name='name' value=(signUpName ? signUpName : undefined))
        label 
          h3 email
          input(type='email' name='email' value=(email ? email : undefined))
        label 
          h3 username
          input(type='text' name='username' value=(username ? username : undefined))  
      .col2
        label
          h3 password
          input(type='password' name='password')
        label
          h3 confirm password
          input(type='password' name='confirmation')
      input.show(type='submit' value='sign up')
      
