extends ../layout

block content
  h2= title
  .editProfile
    form.form-inline(action="/"+ profile.username +"/edit", method="post")
      label 
        | name
        input(type='text' name='name' value=profile.name)
      label 
        | email
        input(type='text' name='email' value=profile.email)
      label 
        | username
        input(type='text' name='username' value=profile.username)
      input.show(type='submit' value='edit')
    form(action='/'+profile.username+'/delete' method='post')
      input.delete.delete-user(type='submit' value='Delete')
      
