extends ../layout

block content
  form.form-inline(action="/new", method="post")
    lable 
      h3 title
      input.form-control(type="text", name="title")
    .table
      .img-rounded.know.column
        .title
          h2 what I know
        input.form-control(type="text", name="know")
      .img-rounded.what.column
        .title
          h3 what I want to know
        input.form-control(type="text", name="what")
      .img-rounded.learn.column
        .title
          h2 what I learned
        input.form-control(type="text", name="learn")
      .img-rounded.how.column
        .title
          h2 how I learned it
        input.form-control(type="text", name="how")
    input.btn.btn-success(type="submit", value="edit")
  a.btn.btn-info(href="/users/profile") back
