extends ../layout

block content
  form.form-inline(action="/edit", method="post")
    lable
      h3 title
      input.form-control(type="text", name="title")
    .tablerow
      .img-rounded.knowNew.column2
        .title
          h2 what I know
        .textarea
          textarea(data-provide='markdown')
      .img-rounded.whatNew.column2
        .title
          h2 what I want to know
        .textarea
          textarea(data-provide='markdown')
      .img-rounded.learnNew.column2
        .title
          h2 what I learned
        .textarea
          textarea(data-provide='markdown')
      .img-rounded.howNew.column2
        .title
          h2 how I learned it
        .textarea
          textarea(data-provide='markdown')
    input.button.btn.btn-success(type="submit", value="edit")
  a.button.btn.btn-info(href="/users/"+ username) back
