extends ../layout

block content
  h1= title
  form.form-inline(action="/"+ profile.username +"/edit", method="post")
    .signup
      label 
        | name
        input(type='text' name='name' value=profile.name)
      label 
        | email
        input(type='text' name='email' value=profile.email)
      label 
        | username
        input(type='text' name='username' value=profile.username)
      input.show(type='submit' value='edit')
  form(action='/'+profile.username+'/delete' method='post')
    input.delete(type='submit' value='Delete')
      
