extends ../layout

block content
  h2 Your Charts
  table
    thead
      tr
        th Title 
        th Options
    tbody
      if charts
        each chart in charts
          tr
            td
              a(href='/'+username+'/'+chart._id) !{chart.topic}
            td
              a.button.show(href='/'+username+'/'+chart._id) Show
              a.button.edit(href='/'+username+'/'+chart._id+'/edit') Edit
              form.fit(action='/'+username+'/'+chart._id+'/delete' method='post')
                input.delete(type='submit' value='Delete')
  a.button.submit(href='/' + username + '/new') New
