extends ../layout

block content
  form.form-inline(action="/new", method="post")
    lable
      h3 title
      input.form-control(type="text", name="title")
    .table
      .img-rounded.knowNew.column
        .title
          h2 what I know
          MarkdownTextarea
      .img-rounded.whatNew.column
        .title
          h2 what I want to know
        input.form-control(type="text", name="what")
      .img-rounded.learnNew.column
        .title
          h2 what I learned
      .img-rounded.howNew.column
        .title
          h2 how I learned it
    input.btn.btn-warning(type="submit", value="create")
  a.btn.btn-info(href="/users/profile") back
